html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Aquí van los estilos del home copiados */
