.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.title h1 {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 50px;
    text-shadow:
        0 0 20px var(--accent-color),
        0 0 40px var(--accent-color);
    text-align: center;
    animation: pulse 3s infinite alternate;
}

@keyframes pulse {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 1;
        text-shadow: 0 0 30px var(--accent-color), 0 0 60px var(--accent-color);
    }
}

.contact-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
    width: 100%;
}

.icon-box {
    background-color: var(--background-color);
    border-radius: 10%;
    padding: 20px;
    box-shadow:
        0 0 5px var(--accent-color),
        0 0 15px var(--border-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.icon-box::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(45deg,
            transparent,
            var(--primary-color),
            transparent);
    transform: translateX(-100%) rotate(45deg);
    transition: transform 0.5s ease;
}

.icon-box:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 25px var(--secondary-color),
        0 0 50px var(--primary-color);
}

.icon-box:hover::before {
    transform: translateX(100%) rotate(45deg);
}


.icon-box i {
    color: var(--accent-color);
    font-size: 40px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}

.icon-box:hover i {
    color: var(--primary-color);
    transform: rotate(10deg) scale(1.4);
    filter: drop-shadow(0 0 10px var(--border-color));
}