.about {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 100px;
  background-color: var(--background-color);
  border-radius: 10px;
}

.text h1.greeting {
  --b: 0.1em;  
  --c: var(--accent-color);

  color: #0000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, var(--primary-color) 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;

  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition:
    .3s var(--_s, 0s) linear,
    background-size .3s calc(.3s - var(--_s, 0s));
}

.text h1.greeting:hover {
  --_p: 100%;
  --_s: .3s;
}

.text h1.greeting:hover ~ h2.title {
  color: var(--primary-color);
}

.text h1 {
  font-size: 3rem; 
  color: var(--primary-color);
  margin-bottom: 20px;
}


.text h2 {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-bottom: 20px;
  transition: color 2s ease;
}

.text p {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.8;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 400px; 
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 15px var(--accent-color),
    0 0 30px var(--accent-color),
    0 0 45px var(--accent-color);
}

.text {
  flex: 2;
}

@media (max-width: 1200px) {
  .about {
    gap: 80px;
    padding: 80px;
  }
  
  .text h1 {
    font-size: 2.5rem;
  }
  
  .text h2 {
    font-size: 1.6rem;
  }
  
  .text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .about {
    gap: 60px;
    padding: 60px;
  }
  
  .image img {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    gap: 50px;
    padding: 60px 40px;
  }
  
  .text, .image {
    flex: 1 1 100%;
    width: 100%;
  }
  
  
  .image img {
    width: 100%;
    max-width: 400px;
  }
  
  .text h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  
  .text h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  
  .text p {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 40px 20px;
    gap: 30px;
  }
  
  .text h1 {
    font-size: 1.8rem;
  }
  
  .text h2 {
    font-size: 1.2rem;
  }
  
  .text p {
    font-size: 1rem;
  }
}