
:root {
    --primary-color: #ff003c;
    --secondary-color: #b3002d;
    --accent-color: #39ff14;
    --background-color: #0a0a0a;
    --text-color: #e0e0e0;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}