:root {
    --primary-color: color(display-p3 0.50 0.10 0.16);      
    --secondary-color: color(display-p3 0.52 0.12 0.22);     
    --accent-color: color(display-p3 0.32 0.82 0.50);        
    --background-color: color(display-p3 0.04 0.06 0.12);    
    --text-color: color(display-p3 0.92 0.94 0.89);       

    --border-color: color(display-p3 0.12 0.15 0.22);        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}